.git
**/.git
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.venv
venv
node_modules
**/node_modules
dist
build
data
datasets
*.pt
*.pth
*.onnx
*.h5
*.zip
*.tar
*.mp4
*.mov
*.avi
notebooks
docker_data.vhdx