MINIO_ENDPOINT=localhost:9000   
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio12345
MINIO_SECURE=false
MINIO_BUCKET=censorly
VIDEO_STORAGE_KEY=SITUATIONSHIP _ Award Winning Short Film.mp4
FRAME_STRIDE_MS=500        # her 500ms’te bir kare al
CONF_THRESHOLD=0.5
IOU_THRESHOLD=0.5
