# === API ===
APP_NAME=Censorly API
ENV=dev

# === DB ===
DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/censorly

# === JWT ===
JWT_SECRET=change-this-to-a-long-random-string
JWT_ISSUER=censorly
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=21

# === Redis ===
REDIS_URL=redis://localhost:6379/0

# === CORS (opsiyonel, frontend için)
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
